.react-transition-enter {
    opacity: 0.01;
}

.react-transition-enter.react-transition-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
}

.react-transition-leave {
    opacity: 1;
}

.react-transition-leave.react-transition-leave-active {
    opacity: 0.01;
    transition: opacity 10ms ease-in;
}

/*.react-transition-enter {
    opacity: 0.01;
}

.react-transition-enter.react-transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.react-transition-leave {
    opacity: 1;
}

.react-transition-leave.react-transition-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.react-transition-appear {
    opacity: 0.01;
}

.react-transition-appear.react-transition-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}*/